rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isViewer() {
      return request.auth.token.email_verified == true && getViewers().hasAll([request.auth.token.email]);
    }

    function getViewers() {
      return get(/databases/$(database)/documents/admin/roles).data.viewers;
    }

    function areSetsEqual(list1, list2) {
      return list1.hasAll(list2) && list2.hasAll(list1);
    }

    match /stories/{document=**} {
      allow read: if isSignedIn() && isViewer();
      // TODO(mdanka): currently can rewrite all starred users - update rules to only update modifying yourself
      allow update: if isSignedIn() && isViewer() && (areSetsEqual(request.writeFields, ["personsWhoKnow"]) || areSetsEqual(request.writeFields, ["usersWhoStarred"]));
      allow create, delete: if false;
    }

    match /persons/{document=**} {
      allow read, create: if isSignedIn() && isViewer();
      allow update, delete: if false;
    }

    match /camps/{document=**} {
      allow read, create, update: if isSignedIn() && isViewer();
      allow delete: if false;
    }
  }
}