.barkochba-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barkochba-screen-content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.barkochba-screen-drawer-toggle {
    padding: 20px 20px 0 20px;
}

.barkochba-screen-drawer-toggle-button {
    width: 100%;
}

.barkochba-screen-drawer-toggle-button-icon {
    margin-right: 10px;
}

.barkochba-screen-person-selector {
    padding: 20px;
}

.barkochba-screen-panel {
    max-height: 70vh;
    overflow: auto;
    padding: 0 20px 20px 20px;
}

// DRAWER

.barkochba-screen-drawer-container {
    max-height: 90vh;
}

.barkochba-screen-mobile-drawer-paper {
    width: 80vw;
    height: 100%;
}
