.barkochba-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barkochba-screen-drawer-container {
    width: 30%;
    max-height: 90vh;
}

.barkochba-screen-mobile-drawer-paper {
    width: 80vw;
    height: 100%;
}

.barkochba-screen-content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px;
}

.barkochba-screen-panel {
    max-height: 70vh;
    overflow: auto;
    margin-top: 20px;
}

.barkochba-screen-drawer-toggle {
    margin-bottom: 20px;
}

.barkochba-screen-drawer-toggle-button {
    width: 100%;
}

.barkochba-screen-drawer-toggle-button-icon {
    margin-right: 10px;
}
