.barkochbaManageContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 600px) {
    .barkochbaManageContainer {
        padding: 32px 24px;
        gap: 24px;
        max-width: 768px;
        margin: 0 auto;
    }
}

.barkochbaManagePanel {
    padding: 20px 16px;
}

@media (min-width: 600px) {
    .barkochbaManagePanel {
        padding: 32px;
    }
}

.barkochbaManageSubtitle {
    padding-top: 24px;
}

.barkochbaManageFormStack {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

div.barkochbaManageInput {
    width: 100%;
}
