.barkochba-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barkochba-screen-drawer {
    width: 30%;
}

.barkochba-screen-content-area {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding: 20px;
}

.barkochba-screen-person-selector {
    width: 100%;
}

.barkochba-screen-panel {
    width: 100%;
    max-height: 70vh;
    overflow: auto;
    margin-top: 20px;
}
