.barkochbaDrawer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barkochbaDrawerNavigation {
    width: 100%;
}

.barkochbaDrawerStoryBrowser {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.barkochbaDrawerListItem {
    overflow: hidden;
    white-space: nowrap;
}