.barkochbaManagePanel {
    margin: 40px;
    padding: 20px;
}

.barkochbaManageSubtitle {
    padding-top: 40px;
}

div.barkochbaManageInput {
    margin-right: 20px;
    display: inline-block;
    min-width: 170px;
}
