.barkochbaScreen {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barkochbaScreenContentArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

.barkochbaScreenDrawerToggle {
    padding: 20px 20px 0 20px;
}

.barkochbaScreenDrawerToggleButton {
    width: 100%;
}

.barkochbaScreenDrawerToggleButtonIcon {
    margin-right: 10px;
}

.barkochbaScreenPersonSelector {
    padding: 20px;
}

.barkochbaScreenPanel {
    flex: 1;
    min-height: 0;
    overflow: auto;
    padding: 0 20px 20px 20px;
}

.personSelectorContent {
    display: block;
}

// DRAWER

.barkochbaScreenMobileDrawerPaper {
    width: 80vw;
    height: 100%;
}
