.barkochbaExport {
    font-family: 'Times New Roman', Times, serif;

    .barkochbaExportTitle {
        font-size: 14pt;
        margin: 6pt;
        text-align: center;
        width: 100%;
    }

    :global(table) {
        border: solid 1px black;
        border-collapse: collapse;
        width: 100%;

        :global(tr) {
            :global(td) {
                border: solid 1px black;

                &.barkochbaExportColLeft {
                    font-size: 12pt;
                    margin: 0;
                }

                &.barkochbaExportColRight {
                    font-size: 10pt;
                    margin: 0;
                }
            }
        }
    }
}