.listeningCampRoomSelector {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.listeningCampRoomSelectorCamp {
    width: 50%;
}

.listeningCampRoomSelectorRoom {
    padding-left: 20px;
    width: 50%;
}

@media (max-width: 600px) {
    .listeningCampRoomSelector {
        flex-direction: column;
    }

    .listeningCampRoomSelectorCamp {
        width: 100%;
    }

    .listeningCampRoomSelectorRoom {
        padding-left: 0;
        width: 100%;
        margin-top: 12px;
    }
}
