.listeningCampRoomSelector {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .listeningCampRoomSelector {
        flex-direction: row;
        gap: 16px;
    }
}

.listeningCampRoomSelectorCamp {
    width: 100%;
}

@media (min-width: 600px) {
    .listeningCampRoomSelectorCamp {
        width: 50%;
    }
}

.listeningCampRoomSelectorRoom {
    width: 100%;
}

@media (min-width: 600px) {
    .listeningCampRoomSelectorRoom {
        width: 50%;
    }
}
