.listeningCampRoomSelector {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.listeningCampRoomSelectorCamp {
    width: 50%;
}

.listeningCampRoomSelectorRoom {
    padding-left: 20px;
    width: 50%;
}
