div.itemKnownBy {
    border-left: 10px solid;
}

div.itemKnownBy0 {
    border-color: #aeea00;
    border-color: rgba(0, 0, 0, 0.0);
    border-color: #81d4fa;
    background-color: #e1f5fe;
}

div.itemKnownBy1 {
    border-color: #fff176;
    background-color: #fffde7;
}

div.itemKnownBy2 {
    border-color: #fb8c00;
    background-color: #fff3e0;
}

div.itemKnownBy3 {
    border-color: #e53935;
    background-color: #ffebee;
}

.itemPrimaryLabel {
    display: flex;
}

.itemLabelTitle {
    flex-grow: 1;
}