.story-panel {
    
}

div.story-panel-people-who-know {
    display: block;
}

.story-panel-done-button {
    float: right;
}

.story-panel-done-button-icon {
    font-size: 20px;
    margin-right: 5px;
}

.story-panel-empty-state {
    padding: 20px;
}
