div.story-list-item-known-by-1 {
    background-color: #fff59d;
}

div.story-list-item-known-by-2 {
    background-color: #ffcc80;
}

div.story-list-item-known-by-3 {
    background-color: #ef9a9a;
}
