div.story-panel-people-who-know {
    display: block;
}

.story-panel-done-button {
    float: right;
}

.story-panel-button-icon {
    font-size: 20px;
    margin-right: 5px;
}

.story-panel-empty-state {
    color: rgba(0, 0, 0, 0.54);
    padding: 20px;
}

.story-panel-people-who-know-add {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px
}

.story-panel-people-who-know-add-selector {
    flex-grow: 1;
    margin-right: 20px;
}

.story-panel-people-who-know-add-button {
    align-self: flex-start;
    flex-shrink: 0;
}
