@import "~normalize.css";
@import "../variables.scss";

.appHeader {
    height: 60px;

    color: white;
    background-color: $darkBackground;

    padding: 10px 20px 10px 20px;

    display: flex;
    align-items: center;
    
    .appTitle {
        font-size: 18px;
        flex-grow: 1;
        font-weight: bold;
    }

    .appHeaderCreateButton {
        :global(.material-icons) {
            font-size: 13px;
        }
    }

    .appHeaderContactButton {
        width: 36px;
        height: 36px;

        color: white;

        :global(.material-icons) {
            font-size: 16px;
        }
    }

    .appHeaderAvatarButton {
        margin-left: 10px;
        width: 36px;
        height: 36px;
    }

    .appHeaderAvatarImage {
        width: 30px;
        height: 30px;
    }
}
