@import "~normalize.css";
@import "~firebaseui/dist/firebaseui.css";
@import "./components/index.less";

@import (css) url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;

    &.inherit-color {
        color: inherit;
    }
}

a.underline:hover, a.underline:active {
    text-decoration: underline;
}
