// @import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;

    &.inherit-color {
        color: inherit;
    }
}

a.underline:hover, a.underline:active {
    text-decoration: underline;
}
